<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PortName" value="COM1" />
    <add key="PortNameBack" value="COM2" />
    <add key="BaudRate" value="9600" />
    <add key="Parity" value="" />
    <add key="DataBits" value="" />
    <add key="StopBits" value="" />
    <add key="Handshake" value="" />
    <add key="ReadTimeout" value="50" />
    <add key="WriteTimeout" value="50" />
    <add key="CTS" value="true" />
    <add key="netControl" value="false" />
    <add key="loopNum" value="1" />
    <add key="nodeConfig" value="" />
    <add key="nodeConfigMap" value="" />
    <add key="sendCall" value="false" />
    <add key="callCenterNo" value="" />
    <add key="callCenterPassword" value="" />
    <add key="callNo" value="" />
    <add key="callPort" value="" />
    <add key="callRate" value="" />
    <add key="callFormat" value="" />
    <add key="sendMessage" value="false" />
    <add key="mobileMesCenterNo" value="" />
    <add key="mobileNo" value="" />
    <add key="mobilePort" value="" />
    <add key="mobileRate" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AlarmNum" value="1" />
    <add key="Warning1" value="" />
    <add key="Warning2" value="" />
    <add key="AireLow1" value="" />
    <add key="AireLow2" value="" />
    <add key="AireHigh1" value="" />
    <add key="AireHigh2" value="" />
    <add key="Fire11" value="" />
    <add key="Fire12" value="" />
    <add key="Fire13" value="" />
    <add key="Fire21" value="" />
    <add key="Fire22" value="" />
    <add key="Fire23" value="" />
    <add key="Fire31" value="" />
    <add key="Fire32" value="" />
    <add key="Fire33" value="" />
    <add key="Fire41" value="" />
    <add key="Fire42" value="" />
    <add key="Fire43" value="" />
    <add key="Guests" value="yowJ3u8WmPc=" />
    <add key="SystemManager" value="dHo+T8V7c1I=" />
    <add key="Users" value="F15PmrTjtdk=" />
    <add key="CurrentUser" value="SystemManager" />
    <add key="ConnectionString" value="server=(local)\SQLExpress;database=db_Go_Dex_CN;Integrated Security=true" /> 
    <add key="lunxunTimeSpan" value="10000" />
    <add key="offlineTimeSpan" value="10000" />
    <add key="orderTimeSpan" value="100" />
    <add key="RateMain" value="19200" />
    <add key="RateBack" value="19200" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>