<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="System.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <System.Windows.Forms.Properties.Settings>
            <setting name="MenuStripGradientBegin" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MenuStripGradientEnd" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="MenuStripForeColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="MenuItemPressedGradientBegin" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="MenuItemPressedGradientMiddle" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="MenuItemPressedGradientEnd" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="MenuItemSelectedGradientBegin" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MenuItemSelectedGradientEnd" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MenuItemSelected" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ImageMarginGradientBegin" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="ImageMarginGradientMiddle" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ImageMarginGradientEnd" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="MenuBorder" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MenuItemBorder" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ToolStripBorder" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ToolStripContentPanelGradientBegin" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="ToolStripContentPanelGradientEnd" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ToolStripDropDownBackground" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ToolStripGradientBegin" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="ToolStripGradientMiddle" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ToolStripGradientEnd" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="StatusStripGradientBegin" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StatusStripGradientEnd" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="ToolStripForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StatusStripForeColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
        </System.Windows.Forms.Properties.Settings>
    </userSettings>
</configuration>